<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        Recuperar contraseña
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" placeholder="Coloque su usuario para recuperar contraseña"></ion-input>
        </ion-item>
        <div>
          <ion-button> Recuperar </ion-button>
        </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
