<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>¡Bienvenido!</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" labelPlacement="floating"
              placeholder="Ingrese su usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" type="password" labelPlacement="floating"
              placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-button>Ingresar</ion-button>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
